

  .contenedor{
      position: center;
      display: inline-block;

  }

  .texto-encima{
      position: absolute;
      top: 30%;


      font-size: 50px;
      color:rgb(255, 255, 255);
      font-family:'Montserrat', sans-serif;
      font-weight: 800;
      margin-left: 20px;
      margin-right: 100px;
      z-index: 2;
      padding: 1px;

  }
  .centrado{
      position: absolute;
      top: 50%;
      left: 5px;
      color:rgb(255, 255, 255);
      font-family:'Montserrat', sans-serif;
      font-weight: 400;
      margin-left: 20px;
}
body{

  background:url("../Imagenes/Adopta_background.png") no-repeat center;
  background-position: top;


}

.button{
  z-index: 2;
}

#parrafoPresentacion{
  color: white;
}


#tituloPresentacion{
  font-weight: 800;
  color: white;
}
@media (max-width: 768px){
  body{
    background:url("../Imagenes/Adopta_background2.png") no-repeat center;
    background-position: top;
  }
