.patas{
  padding: 30px 30px;
}
h4{
  font-weight: 500;
}
 #deposito{
   font-weight: bold;
 }

 h1{
   font-weight: 500;
   color: rgb(255, 88, 36);
 }
.castra{
  padding: 20px;
}
.denuncia{
  padding: 20px;
  padding-left: 50px;
}
